climetlab
climetlab-maelstrom-nogwd
climetlab-maelstrom-radiation
dask
eccodes
h5py
HEBO
matplotlib
metaflow
netCDF4
numpy
nvitop
pandas
plotly
psutil
pylint
pytest
pytorch-lightning
PyYAML
ray[tune]
scipy
sklearn
torch
torch-cluster
torch-geometric
torch-optimizer
torch-scatter
torch-sparse
torch-spline-conv
torchmetrics
torchvision
wandb