climetlab
climetlab-maelstrom-nogwd
climetlab-maelstrom-radiation
dask
eccodes
h5py
HEBO
matplotlib
matplotlib-inline
metaflow
netCDF4
numpy
nvitop
pandas
pandas-profiling 
plotly
psutil
pylint
pytorch-lightning
PyYAML
randomname
ray[tune]
scikit-learn
scipy
seaborn
sklearn
torch
torch-cluster
torch-geometric
torch-optimizer
torch-scatter
torch-sparse
torch-spline-conv
torchmetrics
torchvision
wandb