climetlab
climetlab-maelstrom-nogwd
climetlab-maelstrom-radiation
cupy-cuda113
dask
eccodes
h5py
HEBO
jupyterlab
matplotlib
metaflow
mpi4py
netCDF4
numpy
nvitop
psutil
pylint
pytest
pytorch-lightning
PyYAML
ray[tune]
scipy
sklearn
torch
torchaudio
torchvision
torch-cluster
torch-geometric
torch-optimizer
torch-scatter
torch-sparse
torch-spline-conv
torchmetrics
wandb